/* ============================================================
    1. ESTRUCTURA I COLORS DE FONS
   ============================================================ */
html, body, .wrapper, .content-wrapper {
    background-color: #222d32 !important;
    min-height: 100vh !important;
}


/* Neteja de la Navbar */
.main-header .navbar { 
    height: auto !important;
    
}

/* ============================================================
    2. TARGETES DE CONTINGUT (BLANQUES)
   ============================================================ */
.nav-tabs-custom, .tab-content, .box, .container-fluid {
    background: #ffffff !important;
    color: #333 !important;
    border-radius: 8px;
    padding: 20px;
    margin: 15px auto;
    width: 98% !important;
    max-width: 1800px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Estils de text per a inputs dins del cos */
.checkbox label {
    font-weight: bold;
    color: #333 !important; /* Ara el text és fosc perquè el fons és blanc */
}

/* ============================================================
    3. ELEMENTS DE DADES
   ============================================================ */
/* Taules */
.dataTables_wrapper {
    background-color: white !important;
    color: #333 !important;
}

/* Gràfics */
.plotly.html-widget, .highchart.html-widget {
    width: 100% !important;
    margin-bottom: 20px;
}

/* Botons de fitxer */
.btn-file {
    background-color: #3c8dbc !important;
    color: white !important;
}